node_modules

.env*
Procfile

build

# jekyll
_site/*
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

*.DS_Store

frontend_build

## all specific files
404.html
_config.yml
assets/images 
index.md
recherche.md
.github
