<footer>
	<section class="footer">
		<div class="comobi">
			<p>Distribué par <img src="images/logo-comobi-sfb.png" /> </p>
			<a href="http://wwww.comobi.fr">site internet</a>
			<a href="{{ site.code_source.comobi }}" target="_blank">code source Comobi</a>
			<a href="{{ site.code_source.instance }}" target="_blank">code source {{ site.titre }}</a>
			<a href="{{ site.lien_cgu | default: '/cgu' }}">Conditions Générales D'utilisation</a>
		</div>
		<div class="center">
				<p>Nous contacter - {{ site.titre }} <br /> </p>
				<p>Email :  <a href="mailto:{{ site.mail }}">{{ site.mail }} </a></p>
				<p>Tél : <a href="tel:{{ site.tel }}">{{ site.tel }} </a> </p>
		</div>
		<div class="logo-list">
				<img src="images/ANCT_logo.jpg"/>
				<img src="images/beta_gouv_logo.jpg"/>
				<img src="images/ademe_logo.jpg"/>
		</div>
	</section>
</footer>