<header class="search-header">
    <div class="menu">
      <div class="logo">
        <p class="instance-name">Azur</p> <!-- replace by instance name -->
        <div class="with-comobi">avec <img class="logo" src="images/logo-comobi-sfblack.svg"/></div>
      </div>
      <div class="menu-item">
        Tous les trajets
      </div>
      <div class="menu-item">
        Comment ça marche ?
      </div>
    </div>
    <img class="logo-title" src="images/logo_comobi.svg" alt="logo comobi" />
    <h1>Trouvez un <strong>covoiturage pour vous déplacer </strong> <br>aux alentours de <strong> Valberg</strong></h1>
</header>