<!--
  <header class="search-header">
    <div class="laptop-menu">
      <div class="left">
        <div class="logo">
          <p class="instance-name">Azur</p> --> <!-- replace by instance name --> <!--
          <div class="with-comobi">avec <img src="images/logo-comobi-sfblack.svg"/></div>
        </div>
        <div class="menu-item">
          Tous les trajets
        </div>
        <div class="menu-item">
          Comment ça marche ?
        </div>
      </div>
      <div class="right">
        <button class="search-btn proposer">Proposer un trajet</button>
      </div>
    </div>
    <img class="logo-title" src="images/logo_comobi.svg" alt="logo comobi" />
  <h1>Trouvez un <strong> covoiturage pour vous déplacer </strong> aux alentours de <strong> Valberg</strong></h1>
  </header>
-->
<!-- Simulate a smartphone / tablet -->
<div class="mobile-container">
  <!-- Top Navigation Menu -->
  
  <div class="topnav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <div id="myLinks">
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <a href="#home" class="active">Logo</a>
    <!-- replace with instance logo and with comobi-->
    <!-- add button "proposer un trajet"-->
  </div>
  
  <div style="padding-left:16px">
    <img class="logo-title" src="images/logo_comobi.svg" alt="logo comobi" />
    <h1>Trouvez un <strong> covoiturage pour vous déplacer </strong> aux alentours de <strong> Valberg</strong></h1>
  </div>
  
<!-- End smartphone / tablet look -->
</div>

<script>
function myFunction() {
  var myLinks = document.getElementById("myLinks");
  var icon = document.getElementsByClassName("icon")[0];
  if (myLinks.style.display === "block") {
    myLinks.style.display = "none";
    icon.style.backgroundColor = rgb(169,169,169);
  } else {
    myLinks.style.display = "block";
    icon.style.backgroundColor = rgba(246, 246, 246, 1);
  }
}
</script>
