@font-face {
	font-family: 'Source Sans Pro';
	src: url("/fonts/SourceSansPro-Regular.ttf") format("woff2")
}
$footer-background: #4682b4;
$main-background: rgb(255, 255, 246);
$main-font: 'Source Sans Pro';
$header-background: rgb(184, 228, 231);


.current {
  color: green;
}

html {
	height: 100%;
}

body {
	font-family: $main-font;
	height: 100%;
	background-color: $main-background!important;
	display: flex;
	flex-direction: column;
	margin: 0px;
	.footer {
		flex-shrink: 0;
	}
}

main {
	flex: 1;
}


h1, h2, h3, h4, h5 {
	font-family: $main-font;
}
table {
	font-family: $main-font;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.9rem;
	align-items: center;
	text-align: center;
	margin-bottom: 3.5rem!important;
}

h2 {
	font-size: 1.3em;
}

.header-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo-title {
	width: -moz-available;
	max-width: 30rem;
	margin: 2rem 0;
}

a {
	text-decoration: none;
	color: rgb(0, 123, 255);
}
a[href^='mailto:']::before {
	content: '📧 ';
}
a[href^='tel:']::before {
	content: '📞 ';
}

///// BTN ////
.btn {
	display: block;
	border: none;
	padding: 0.6rem 1rem;
	margin: 0 5px;
	color: white;
}

.contact-link {
	background: rgba(147, 196, 125, 1);
	color: white;
	width: 14rem;
}

.simple {
	background: none;
	border: 1px solid black;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $footer-background;
	color: white;
	padding: 1.3rem 4rem;
	text-align: center;
	width: 100%;
	p {
		margin: 0;
	}
	a {
		color: white;
	}
	img {
		width: 100px;
		padding: 2px;
	}
	div {
		flex: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.logo-list {
		align-items: center;
	}
	.comobi img {
		width: 80px;
	}
}

.btn-list {
	display: flex;
	flex-direction: column;
	-moz-box-align: center;
	align-items: center;
	max-width: 100%;
	position: relative;
	margin-top: 0px;
	padding: 1rem calc(max(5px, -25em + 50vw));

	div {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}
	a {
		display: flex;
		-moz-box-pack: center;
		justify-content: center;
		text-decoration: none;
		margin: 0.5rem auto;
	}
}

section.home-section {
	padding: 1rem calc(max(5px, -25em + 50vw));
	.large {
		width: 100%;
		margin: 0px auto;
		display: block;
		object-fit: contain;
		height: 100%;
	}
 	.btn {
 		text-decoration: none;
		margin: 0.6rem auto;
		width: max-content;
		padding: 0.8rem;
	}
	img {
		display: block;
		margin: 0px auto;
		width: 100%;
		object-fit: contain;
		height: 100px;
	}
}

// move
.react-component {
	padding: 1rem calc(max(5px, -25em + 50vw));
	display: flex;
	justify-content: center;
	align-content: end;
	ul {
    list-style-type: none;
	}
}

.search-btn {
	display: flex;
	flex: 1;
	border: 1px solid black;
	border-radius: 55px;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background: #282727;
	padding: 10px;
	text-decoration: none!important;
}
.search-btn[href^='mailto:']::before {
	content: '';
}

.search-content {
	color: #26353F;
	.content {
		background: rgba(247, 247, 247, 0.5);
	}
	.partner-section {
		background: rgba(246, 246, 246, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;
		text-align: center;
		.partner-logo-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			* {
				margin: 10px;
				height: 90px;
			}
		}
		.btn-section {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 20px;
			text-align: center;
			flex-wrap: wrap;
			* {
				margin: 10px;
			}
			a {
				text-decoration: underline;
			}
		}
	}
}

//// HEADER //// 
.logo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #26353F;
	margin-left: 61px;
	.instance-name {
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #26353F;
		margin: 0;
	}
	.with-comobi {
		display: flex;
		flex-direction: row;
		font-style: italic;
		font-size: 13px;
		line-height: 16px;
		align-items: flex-start;
		padding-left: 5px;
		img {
			width: 68px;
			height: 12.45px;
			margin-left: 8px;

		}
	}	
}

.header {
	display: block;
	background: rgba(246, 246, 246, 1);
	font-family: $main-font;
	width: -moz-available;
	font-weight: normal;
	margin: auto;
	height: 500px;

	.search-btn {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		margin: 5px 5px 0.5rem 0;
	}
	.topnav {
		overflow: hidden;
		position: relative;
	}
	
	.topnav .menu-item-list {
	  display: none;
	  background-color:rgb(169,169,169);
	  margin-top: 3px;
	}
	
	.topnav a {
		display: block;
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	
	.topnav a.icon {
		display: block;
		position: absolute;
		left: 0;
	  	top: 0;
	  	span {
			display: flex;
			width: 29px;
			height: 2px;
			margin-bottom: 5px;
			position: relative;
			background: black;
			border-radius: 3px;
			z-index: 1;
			transform-origin: 5px 0px;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						opacity 0.55s ease;
		}
	}
	
	.topnav a:hover {
	  background-color: #ddd;
	  color: black;
	}
}

@media only screen and (min-width: 768px) {
	.footer {
		flex-direction: row;
		.comobi {
			align-items: flex-start;
		}
		.center {
			align-items: flex-end!important;
		}
	}

	.logo {
		background-color: #FFFFFF;
		margin-left: 1rem;
	}
	.header {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: $main-font;
		font-weight: normal;


		.menu {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items:	center;
			background: #FFFFFF;
			width: -moz-available;
			font-weight: normal;
		}

		.topnav {
			display: flex;
			flex-direction: left;
			justify-content: flex-start;
			a.icon {
				display: none;
			}
			.menu-item-list {
				display: flex;
				background-color: #FFFFFF;
			}
		
			.menu-item-list .menu-item {
				color: black;
				margin: 0 0.5rem;
				
			}
			.active {
				border-bottom: 4px solid;
			}
			.menu-item-list a:hover {
				border-bottom: 4px solid;
				text-decoration: none;
				background-color: #FFFFFF;
				color: black;
			}
			.menu-item-list a:active {
				border-bottom: 4px solid;
			}
		}
	}
}
