@font-face {
	font-family: 'Source Sans Pro';
	src: url("/fonts/SourceSansPro-Regular.ttf") format("woff2")
}
$footer-background: #4682b4;
$main-background: rgb(255, 255, 246);
$main-font: 'Source Sans Pro';
$header-background: rgba(246, 246, 246, 1);
$font-size: 1rem;
$line-height: 1.15rem;
$font-weigth: 400;


.current {
  color: green;
}

html {
	height: 100%;
}

body {
	font-family: $main-font;
	height: 100%;
	background-color: $main-background!important;
	display: flex;
	flex-direction: column;
	margin: 0;
	line-height: $line-height;
	font-size: $font-size;
	font-weight: $font-weigth;
	.footer {
		flex-shrink: 0;
	}
}

footer {
	display: block;
}

main {
	flex: 1;
}

h1, h2, h3, h4, h5 {
	font-family: $main-font;
}

table {
	font-family: $main-font;
}

.header-title h1 {
	font-size: 1.5rem;
	line-height: 1.9rem;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 1rem;
	margin: 0;

	&.title {
		margin-bottom: 3.5rem;
	}
}

h2 {
	font-size: 1.3em;
}

.header-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $header-background;
	.bandeau {
		width: 100%;
		min-height: 5rem;
	}

	&.home {
		h1{
			padding-bottom: 4rem;
		}
	}
}
.logo-title {
	max-width: 20rem;
	margin: 2rem 0;
	max-height: 10rem;
	&.hiw {
		filter: grayscale(100%);
	}
}

a {
	text-decoration: none;
	color: rgb(0, 123, 255);
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $footer-background;
	color: white;
	padding: 1.3rem 4rem;
	text-align: center;
	p {
		margin: 0;
	}
	a {
		color: white;
	}
	a[href^='mailto:']::before {
		content: '📧 ';
	}
	a[href^='tel:']::before {
		content: '📞 ';
	}
	img {
		width: 6.25rem;
		padding: 2px;
	}
	div {
		flex: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.logo-list {
		align-items: center;
	}
	.comobi img {
		width: 5rem;
	}
}

.search-btn {
	display: flex;
	font-family: $main-font;
	flex: 1;
	border: 1px solid black;
	border-radius: 3.4rem;
	font-weight: 600;
	font-size: $font-size;
	line-height: $line-height;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background: #282727;
	padding: 0.625rem;
	text-decoration: none;
}

.search-content {
	color: #26353F;
	.content {
		background: rgba(247, 247, 247, 0.5);
	}
}

.partner-section {
	display: flex;
	background: rgba(246, 246, 246, 1);
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
	text-align: center;
	.partner-logo-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		* {
			object-fit: contain;
			margin: 0.5rem;
			height: 5.5rem;
		}
	}
}

//// HEADER //// 
.logo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #26353F;
	margin-left: 4rem;
	.instance-name {
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 1.8rem;
		color: #26353F;
		margin: 0.5rem 0 0 0;
	}
	.with-comobi {
		display: flex;
		flex-direction: row;
		font-style: italic;
		font-size: 1rem;
		line-height: 1rem;
		align-items: flex-start;
		padding-left: 0.5rem;
		img {
			width: 4.25rem;
			height: 0.8rem;
			margin-left: 0.5rem;

		}
	}	
}

.header {
	display: block;
	background: #FFFFFF;
	font-family: $main-font;
	width: 100%;
	font-weight: normal;
	margin: auto;
	height: 500px;

	.search-btn {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		margin: 5px 5px 0.5rem 0;
	}
	.topnav {
		overflow: hidden;
		position: relative;
	}
	
	.topnav .menu-item-list {
	  display: none;
	  background-color:rgb(169,169,169);
	  margin-top: 3px;
	}
	
	.topnav a {
		display: block;
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	
	.topnav a.icon {
		display: block;
		position: absolute;
		left: 0;
	  	top: 0;
	  	span {
			display: flex;
			width: 29px;
			height: 2px;
			margin-bottom: 5px;
			background: black;
			border-radius: 3px;
		}
	}
	
	.topnav a:hover {
	  background-color: #ddd;
	  color: black;
	}
	.header-button {
		display: none;
	}
}

@import './how-it-works.scss';