<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main>
    {% assign sections = content | split: "<!-- section -->" %}
    {% for section in sections offset:1 %}
    <section class="home-section">
      {{ section }}
    </section>
    {% endfor %}
    {% if site.territoires %}
    <section class="home-section">
      {% include territoires.html %}
    </section>
    {% endif %}
  </main>
  {% include footer.html %}
</body>

</html>