---
layout: default
---
<section class="how-it-works">
    {% if page.slogans != nil %}
    <div class="slogan-list">
        {% for slogan in page.slogans %}
        <div class="slogan">
            <img src="{{ slogan.icon }}"/>
            <h3>{{ slogan.title }}</h3>
            <p>{{ slogan.msg }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <a class="search-btn" href="{{ site.formulaire }}">Proposer un trajet</a>
</section>
<!-- est-ce que je pourrais éviter le for ? -->
{% for page in site.pages %}
    {% if page.name == "faq.md" %}
        {% include faq.html content=page.content %}
    {% endif %}
{% endfor %}